{% extends "planner/layout.html" %}

{% block body %}
<div class="container">
    <div class="cols-12 cols-lg-6">
        
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    {% if user.is_authenticated %}
        <h1>Your classes</h1>
        <ul>
        {% for one_class in classes %}
            <li><a href="{% url 'one_class' class_id=one_class.id %}">
                    {{one_class}}
            </a></li>
        {% empty %}
        <li>No classes registered yet. <a href="{% url 'class_create'%}">Create one</a></li>
        {% endfor%}            
        </ul>
        <a href="{% url 'class_create'%}" class="btn btn-primary">
            Create class
        </a>
    {% else %}
        <p><a href="{% url 'login' %}">Please login</a></p>
    {% endif %}

    
    </div>
</div> 
    
{% endblock %}
