{% extends "planner/layout.html" %}

{% block body %}
<div class="container">
    <div class="cols-12 cols-lg-6">
        
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    {% if user.is_authenticated %}
        <h1>Your schools</h1>
        <ul>
        {% for school in schools %}
            <li><a href="{% url 'school' school_id=school.id %}">
                    {{school.name}} - {{school.level}}
            </a></li>
        {% empty %}
        <li>No schools registered yet. <a href="{% url 'school_create'%}">Create one</a></li>
        {% endfor%}            
        </ul>
        <a href="{% url 'school_create'%}" class="btn btn-primary">
            Create school
        </a>
    {% else %}
        <p><a href="{% url 'login' %}">Please login</a></p>
    {% endif %}

    
    </div>
</div> 
    
{% endblock %}
